#title {
    border: solid black 2px;
    height: 85px;
    width: 800px;
    margin-left: 25%;
    text-align: center;
    background-color: white;
    color: blue;
}
#pane {
    border: solid black 2px;
    height: 600px;
    width: 800px;
    margin-left: 23%;
    background-color: rgb(203, 243, 236);
}
body {
    background-image: url("../images/check.jpg");
}
